*{
	transition: all 1s ease 0s;
}
@font-face{
	font-family: "light";
	src:url('fonts/Brandon_light.otf');
}
@font-face{
	font-family: "medium";
	src:url('fonts/Brandon_med.otf');
}

.left{
	width: 50%;
	height: 100%;
	position: relative;
	z-index: 5;
	float: left;
}
.left .iphone{
	position: fixed;
	top:20%;
	left:15%;
	width: 293px;
	z-index: 6;
}
.left .icons_left{
	position: fixed;
	width: 35%;
	top:5%;
	left:5%;	
	z-index:1;
}	
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background:white;
}

/* COMMON*/
.text_block h1{
	text-align: center;
	color: white;
	font-family: 'medium';
	font-size: 80px;
	padding-bottom: 0px;
}
.text_block p{
	padding: 20px;
	text-align: left;
	color: white;
	font-family: 'medium';
	font-size: 30px;
	line-height: 30px;
}



/* SECTION 1*/
#section1 .right{
	width: 50%;
	height: 100%;
	position: relative;
	float: right;
}
#myVideo{
	position:absolute;
	width:100%;
	height:100%;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	background-size: 100% 100%;
	background-position: center center;
	background-size: contain;
	object-fit: cover;
}
.layer{
	position: absolute;
	z-index: 4;
	width: 100%;
	height:100%;
	left: 0;
	top: 0;
}
.logo {
	width: 100%;
	height: 25%;
	position: relative;
}
.logo img{
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 50%;
}
.text{
	width: 100%;
	height: 50%;
	position: relative;
	color: white;
	text-align: center;
}

.text h1{
	text-align: center;
	color: white;
	font-family: 'medium';
	font-size: 60px;
}
.text p{
	text-align: center;
	color: white;
	font-family: 'medium';
	font-size: 30px;
	line-height: 30px;
	padding-bottom: 40px;
	margin-right: 100px;
	margin-left: 100px;
}

.icons{
	width: 100%;
	position: relative;
	height: 50%;
}
.icons .applogo{
	width: 100%;
	position: relative;
	height: 10%;
}
#apple{
	width: 30%;
	position: absolute;
	left: 20%;
}
#google{
	width: 30%;
	position: absolute;
	left: 50%;
}

.icons .social_logo{
	position: relative;
	margin-top: 5%;
	width: 100%;
	height: 100%;
}
.social_logo img{
	width: 10%;
	position: absolute;
}
#fb{
	left: 35%;
}
#inc{
	left: 45%;
}
#twi{
	left: 55%;
}
#header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 5;
}

/* SECTION 2*/


#section2 .right{
	width: 50%;
	height: 100%;
	position: relative;
	float: right;
	background-color: #2dc3ea;
}

#section2 .text_block{
	width: 100%;
	height: 50%;
	position: relative;
	font-size: 10px;
}



#section2 .images{
	position: relative;
	width: 100%;
	height: 50%;
	z-index: 1;
}
#section2 .images img{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90%;
	margin-top: 20px;
}
.pins{
  	
}
.pinss{
  	animation: animationFrames ease-in-out 10s;
  	animation-iteration-count: infinite;
}

.cloud{
	animation: fadeout ease-in-out 5s;
  	animation-iteration-count: infinite;
}
.cycle{
  animation: moveandcomeback ease-in-out 10s;
  animation-iteration-count: infinite;
  transform-origin: 2% 2%;
}

@keyframes moveandcomeback{
  0% {
    transform:  translate(0px,0px)  scaleX(1.00) ;
  }
  49% {
    transform:  translate(465px,0px)  scaleX(1.00) ;
  }
  50% {
    transform:  translate(465px,0px)  scaleX(-1.00) ;
  }
  99% {
    transform:  translate(20px,0px)  scaleX(-1.00) ;
  }
  100% {
    transform:  translate(0px,0px)  scaleX(1.00) ;
  }
}




@keyframes animationFrames{
  0% {
    transform:  translate(0px,0px)  ;
  }
  
  49% {
    transform:  translate(460px,0px);
  }
  50%{
  	transform: translate(430px,0px);
  }
  
  95% {
    transform:  translate(0px,0px)  ;
  }

}	
@keyframes fadeout{
  0% {
    opacity:0;
    transform:  translate(0px,0px)  ;
  }
  50% {
    opacity:1;
    transform:  translate(50px,0px)  ;
  }
  100% {
    opacity:0;
    transform:  translate(100px,0px)  ;
  }
}

@keyframes poptop{
  0% {
    opacity:0;
    transform:  translate(0px,-50px)  ;
  }
  50% {
    opacity:0;
    transform:  translate(0px,-50px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}


/* SECTION 3*/

#section3 .right{
	width: 50%;
	height: 100%;
	position: relative;
	float: right;
	background-color: rgba(178,100,190,1);
}
#section3 .image_block{
	position: relative;
	width: 100%;
	height: 50%;

}
#section3 .image_block img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding:50px 100px 100px 100px;
}
#section3 .text_block{
	width: 100%;
	height: 50%;
	position: relative;
}


#section3 .text_block p{
	padding: 20px;
	color: white;
}


#head_top{
  animation: bottomanimation linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 0% 0%;
}
#head_bottom{
  animation: topanimation linear 6s;
  animation-iteration-count: infinite;
  transform-origin: 0% 0%;
}
#head_left{
  animation: bottomanimation linear 8s;
  animation-iteration-count: infinite;
  transform-origin: 0% 0%;
}
#head_right{
  animation: topanimation linear 10s;
  animation-iteration-count: infinite;
  transform-origin: 0% 0%;
}

@keyframes topanimation {
	from { transform: rotate(0deg) translateX(20px) translateY(20px) rotate(0deg); }
	to   { transform: rotate(360deg) translateX(20px) translateY(20px) rotate(-360deg); }
}

@keyframes bottomanimation {
	from { transform: rotate(0deg) translateX(20px) translateY(20px) rotate(0deg); }
	to   { transform: rotate(-360deg) translateX(20px) translateY(20px) rotate(360deg); }
}





/*
.pins{
  animation: heartbeat linear 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes heartbeat{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform:  scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

*/


/* SECTION 4 */
@keyframes tada{
  0% {
    transform:  rotate(0deg) scale(1.00);
  }
  20% {
    transform:  rotate(3deg)  ;
  }
  
  40% {
    transform:  rotate(-3deg)  ;
  }
  
  60% {
    transform:  rotate(3deg)  ;
  }
  
  80% {
    transform:  rotate(-3deg)  ;
  }
  
  100% {
    transform:  rotate(0deg)  ;
  }
}

@keyframes fadeDown{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

#section4 .right{
	width: 50%;
	height: 100%;
	position: relative;
	float: right;
	background-color: rgba(255,98,119,1);
}
#section4 .image_block{
	position: relative;
	width: 100%;
	height: 50%;
	padding: 10px;

}
#section4 .text_block{
	width: 100%;
	height: 50%;
	position: relative;
	text-align: center;
}
#section4 #medal{
	width: 30%;
	position: absolute;
	top: 9%;
	left: 35%;
	

}
#section4 #star1{
	width: 9%;
	position: absolute;
	top: 80%;
	left: 35%;
	animation: tada ease-in-out 2s;
	  animation-iteration-count: infinite;
	  transform-origin: 50% 50%;
	  	margin-top: 10px;

}
#section4 #star2{
	width: 9%;
	position: absolute;
	top: 80%;
	left: 45%;
	animation: tada ease-in-out 2s;
  	animation-iteration-count: infinite;
  	transform-origin: 50% 50%;
  		margin-top: 10px;

}
#section4 #star3{
	width: 9%;
	position: absolute;
	top: 80%;
	left: 55%;
	margin-top: 10px;
	animation: tada ease-in-out 2s;
  	animation-iteration-count: infinite;
  	transform-origin: 50% 50%;
}

#section4 .text_block p{
	padding: 20px;
	color: white;
}
/* Moving icons*/
.icons_left{
  animation: moveIt linear 10s;
  animation-iteration-count: infinite;
  transform-origin: 100% 100%;
}

@keyframes moveIt{
  from { transform: rotate(0deg) translateX(20px) translateY(20px) rotate(0deg); }
	to   { transform: rotate(360deg) translateX(20px) translateY(20px) rotate(-360deg); }
}

.outer_layer{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	
}
#top_button{
	position: absolute;
	top: 1%;
	left: 48%;
	z-index: 9;
	transition: all 1s ease 0s;
}
#bottom_button{
	position: absolute;
	bottom: 1%;
	left: 48%;
	z-index: 9;
	transition: all 1s ease 0s;
}
.outer_layer .footer{
	position: absolute;
	bottom: -12%;
	left: 0;
	width: 100%;
	height: 12%;
	z-index: 6;
}